.my-footer {
    height: 10em; 
    background-color: #163b65;
    margin-top: 32em;
    padding: 1em;
    color: white;
    font-size: 80%
}

.content {
    margin-top: 1em;
    display: block;
}

.room-image {
    max-width: 60%;
}

.redText {
      color: red;
}

.datepicker {
    z-index: 10000;
 }