{{template "base" .}}

{{define "content"}}

<div class="container content">
    <div class="row">

        <h1> About us.</h1>

        <div class="col content">

            <img src="/bookings/static/images/outside.jpg?tr=w-1,h-1:w-1024,h-800" class="d-block w-100 lazy" alt="Outside" alt="dominant color placeholder">

        </div>

          <div class="col content">

            <h4> This application is a project that uses Portworx on its Database!</h4>
            <p>It runs entirely on Kubernetes.</p>
            <p>And it has been built using Jenkins and deployed with ArgoCD.</p>

          </div>

    </div>
</div>

{{end}}