{{template "admin" .}}

    {{define "css"}}
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    {{end}}

{{define "page-title"}}
    Show reservation
{{end}}

{{define "content"}}
    {{$res := index .Data "reservation"}}
    {{$src := index .StringMap "src"}}

    <div class="col-md-12">
        <p>
            <strong>Arrival:</strong> {{humanDate $res.StartDate}}<br>
            <strong>Departure:</strong> {{humanDate $res.EndDate}}<br>
            <strong>Room:</strong> {{$res.Room.RoomName}}<br>
        </p>

        <form method="post" action="/bookings-admin/reservations/{{$src}}/{{$res.ID}}" class="" novalidate>
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

            <div class="form-group mt-9">

                <label for="first_name">First name:</label>
                {{with .Form.Errors.Get "first_name"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input type="text" name="first_name" value="{{$res.FirstName}}" id="first_name"  class='form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}' required autocomplete="off">

            </div>

            <div class="form-group mt-9" >

                <label for="last_name">Last name:</label>
                {{with .Form.Errors.Get "last_name"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input type="text" name="last_name" value="{{$res.LastName}}" id="last_name" class='form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}'  required autocomplete="off">
            </div>

            <div class="form-group mt-9" >

                <label for="email">Email:</label>
                {{with .Form.Errors.Get "email"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input type="email" name="email" id="email" value="{{$res.Email}}" class='form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}' required autocomplete="off">
            </div>


            <div class="form-group mt-9" >

                <label for="phone">Phone number:</label>
                {{with .Form.Errors.Get "phone"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input type="phone" name="phone" id="phone" value="{{$res.Phone}}" class='form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}' required autocomplete="off">
            </div>

            <hr>
            <div class="float-start">
                <input type="submit" class="btn btn-primary" value="Save">
                {{if eq $src "cal"}}
                    <a href="#!" onclick="window.history.go(-1)" class="btn btn-warning">Cancel</a>
                {{else}}
                    <a href="/bookings-admin/reservations/{{$src}}" class="btn btn-warning">Cancel</a>
                {{end}}
                <a href="#!" class="btn btn-info" onclick="processRes({{$res.ID}})" >Mark as Processed</a>
            </div>

            <div class="float-end">
                <a href="#!" class="btn btn-danger" onclick="deleteRes({{$res.ID}})" >Delete</a>
            </div>

        </form>

</div>

{{end}}

{{define "js"}}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script>

    document.addEventListener("DOMContentLoaded", function (){
        const dataTable = new simpleDatatables.DataTable("#new-res", {
            select: 3, sort: "desc",
        })
    })

</script>

{{$src := index .StringMap "src" }}

<script>

    function processRes(id) {

        attention.custom({
            icon: 'warning',
            msg: 'Are you sure?',
            callback: function(result) {
                if (result !== false) {
                    window.location.href = "/bookings-admin/reservations/process-reservation/{{$src}}/" + id;
                }
            },
        })

    }

</script>

<script> 
   function deleteRes(id) {
    attention.custom({
            icon: 'warning',
            msg: 'Are you sure to delete it?',
            callback: function(result) {
                if (result !== false) {
                    window.location.href = "/bookings-admin/reservations/delete-reservation/{{$src}}/" + id;
                }
            },
        })
    }
</script>
{{end}}