{{template "base" .}}

{{define "content"}}

<div class="container content">

    <div class="row">

        <h1> You can contact us here</h1>


        <div class="col content">

          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29280.42883859569!2d-74.01331073448353!3d40.699251194730756!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a1396fcfcc5%3A0xce29aa9bcb08eef1!2s1%20Battery%20Pl%2C%20New%20York%2C%20NY%2010004!5e0!3m2!1sen!2sus!4v1656101045127!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

          <div class="col content">

            <h3> Address</h3>
            <p> 1 Battery Pl </p>
            <p> New York, NY 10004 </p>

          </div>

    </div>

  </div>

{{end}}