{{template "base" .}}

{{define "content"}}

<div id="main-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="/bookings/static/images/woman-laptop.jpg?tr=w-1,h-1:w-1024,h-800" class="d-block w-100" alt="Woman and laptop" alt="dominant color placeholder">
        <div class="carousel-caption d-none d-md-block">
          <h5>Bookings with Go</h5>
          <p>Your best place to relax!</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="/bookings/static/images/house.jpg?tr=w-1,h-1:w-1024,h-800" class="d-block w-100 lazy" alt="House">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exclusive suites</h5>
          <p>When you need a break of all the stress of your life.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="/bookings/static/images/tray.jpg?tr=w-1,h-1:w-1024,h-800" class="d-block w-100 lazy"  alt="Tray and coffee" alt="dominant color placeholder">
        <div class="carousel-caption d-none d-md-block">
          <h5>World class room service</h5>
          <p>Rest as you deserve with us.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="/bookings/static/images/outside.jpg?tr=w-1,h-1:w-1024,h-800" class="d-block w-100 lazy" alt="Outside" alt="dominant color placeholder">
        <div class="carousel-caption d-none d-md-block">
          <h5>The best views</h5>
          <p>You can book a cabin outside too.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container">


    <div class="row">
      <div class="col">
        <h1 class="text-center mt-4"> Welcome to Fort Golang Bed and Breakfast.</h1>
        <br>
        <h3 class="text-center mt-4">This will be your favorite place.</h3> 
        <p>Powered by Golang and Kubernetes!</p>
        <p>This container uses only 10mb of RAM so far.</p>
      </div>
    </div>


    <div class="row">

      <div class="col text-center">

        <a href="/bookings/availability" class="btn btn-success">Reserve a room now</a>

      </div>
    </div>

  </div>

{{end}}