{{template "base" .}}

{{define "content"}}

<div class="container content">
    <div class="row">
        <div class="col">
            <h1> Login </h1>

            <form method="post" action="/bookings/user/login" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                <div class="form-group mt-9 content">

                    <label for="email">Email</label>
                    {{with .Form.Errors.Get "email"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="email" name="email" value="" id="email"  class='form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}' required autocomplete="off">
    
                </div>

                <div class="form-group mt-9 content">

                    <label for="password">Password</label>
                    {{with .Form.Errors.Get "password"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="password" name="password" value="" id="password"  class='form-control {{with .Form.Errors.Get "password"}} is-invalid {{end}}' required autocomplete="off">
    
                </div>

                <input type="submit" class="btn btn-primary content" value="Submit">

            </form>

            <hr>

        </div>
    </div>
</div>

{{end}}