{{template "base" .}}

{{define "content"}}

<div class="container content">
  <div class="row">

      <h1> Specials</h1>

      <div class="col content">

          <img src="/bookings/static/images/house.jpg?tr=w-1,h-1:w-1024,h-800" class="d-block w-100 lazy" alt="Outside" alt="dominant color placeholder">

      </div>

        <div class="col content">

          <h4>Our specials for the next month</h4>
          <p>Keep tuned for new updates and promotions just for you.</p>

        </div>

  </div>
</div>

{{end}}